/*Images*/
div#cards-images div.card{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    overflow: hidden;
}
div#cards-images div.card:last-child{
    margin-right: 0;
}
div#cards-images div.card img{
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out ;
}
div#cards-images div.card div.cardInfo{
    width: 100%;
    height: 100%;
    background-color: rgba(89, 2, 2, 0.8);
    position: absolute;
    top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

div#cards-images div.card div.cardInfo div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 9px;
}
div#cards-images div.card div.cardInfo ul li{
    font-size: 0.7rem;
    margin-bottom: 1px;
}

/*Media Queries*/

@media only screen and (min-width: 640px) {
    div#cards-images div.card, 
    div#cards-images div.card div.cardInfo{
        width: calc(100% / 2);
    }
}
@media only screen and (min-width: 768px) {
    div#cards-images div.card, 
    div#cards-images div.card div.cardInfo{
        width: calc(100% / 3);
    }
    
}
@media only screen and (min-width: 1024px) {
    div#cards-images div.card,
    div#cards-images div.card div.cardInfo{
        width: calc(100% / 4);
    }
    

}
@media only screen and (min-width: 1280px) {
    div#cards-images div.card,
    div#cards-images div.card div.cardInfo{
        width: calc(100% / 5);
    }
    
}


/*General*/
#slider-images > div[name="arrows"], #slider-movies > div[name="arrows"]{
    cursor: pointer;
    padding: 0 10px;
    font-size: 1.5rem;
}
#slider-images > div[name="arrows"]:hover, #slider-movies > div[name="arrows"]:hover{
    filter: brightness(1.25);
}

/*After Movies*/
div#cards-movies div{
    width: 100%;
    height: 100%;
    margin-right: 20px;
    display: inline-block;
}
div#cards-movies div:last-child{
    margin-right: 0px;
}

/*Media Queries*/

@media only screen and (min-width: 640px) {

}
@media only screen and (min-width: 768px) {
    div#cards-movies div{
        width: calc(100% / 2);
    }
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1280px) {
    div#cards-movies div{
        width: calc(100% / 3);
    }
    
}