/*General tags*/
h2{
    letter-spacing: 2px;
    margin: 50px 0 !important;
}

/*Media Queries*/

@media only screen and (min-width: 640px) {
    h2{
        font-size: 2em !important;
        line-height: inherit !important;
    }

    #carroussel div{
        width: calc(100% / 2) !important;
    }
}
@media only screen and (min-width: 768px) {
    h2{
        font-size: 2.5em !important;
        line-height: inherit !important;
    }
}
@media only screen and (min-width: 1024px) {
    h2{
        font-size: 3em !important;
        line-height: inherit !important;
    }

    #carroussel div{
        width: calc(100% / 3) !important;
    }
}
@media only screen and (min-width: 1280px) {
  h2{
        font-size: 3.5em !important;
        line-height: inherit !important;
    }
}

/*Styles for nav bar*/
.actualPage{
    text-decoration: underline solid white 1px;
    text-underline-offset: 2px;
}

.bgHeaderScrollDown, .bgHeaderColor{
    background: linear-gradient(to bottom, rgba(38,1,1,1) 0%,rgba(101,2,2,1) 70%,rgba(107,2,2,0.7) 80%,rgba(140,3,3,0) 100%);
}


/*Styles for Caroussel*/
#carroussel-wrapper i{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    line-height: 45px;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
#carroussel-wrapper i:first-child{
    left: -60px;
}
#carroussel-wrapper i:last-child{
    right: -60px;
}
#carroussel div{
    width: 100%;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
    display: inline-block;
    scroll-snap-align: center;
    cursor: pointer;
}
#carroussel div:last-child{
    margin-right:0px;
}